h1 {
    color: #DBA72D;
}

body {
    background-color: #2B26C4;
    text-align: center;
}
table, td, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

#board {
    color: #DBA72D;
    display: flex;
    justify-content: center;
   
}
