h1 {
    color: #DBA72D;
}
p {
    font-size: 20px;
}

body {
    background-color: #2B26C4;
    text-align: center;
}

/* Use the modal lesson from class to apply a modal to my game that introduces users to the game. */

#modal {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
	/*Set this to `none` so that the modal does not show initially on page load.*/

    padding: 10px;
}

#modal-textbox {
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
	padding: 2%;
	line-height: 120%;
	font-family: 'Arial';
}

#modal-footer {
	text-align: right;
}

table, td, td {
    border: 1px solid black;
}

th, td {
    padding: 40px;
}

footer {
    color: #DBA72D;
    text-align: center;
}

a {
	color: #DBA72D;
}

.zoom {
    padding: 20px;
    background-color: #FF91D2;
    transition: transform .2s;
	/* //removed the width and height rules from the buttons so that text remained in the box */
    /* width: 200px;
    height: 200px; */
    margin: 0 auto;
	color:  #0D4C34
}

.zoom:hover {
    transform: scale(1.5);
}

button {
    background-color: white;
    color: #0D4C34;
	/* width: 100px; */
}
#board {
    color: #DBA72D;
    display: flex;
    justify-content: center;
   
}
